body {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.selectable {
	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;
}

.topRow {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.top {
	width: 25%;
}

.score {
	font-size: 40px;
	text-align: center;
}

.red {
	color: red;
}

.blue {
	color: blue;
}

.gameId {
	margin-top: 50px;
	text-align: center;
	font-size: 30px;
}

.gameCanvas {
	position: absolute;
}

.chat {
	position: absolute;
	width: 300px;
}

.chatInput {
	width: 100%;
	position: absolute;
	bottom: 0;
}

.chatMessages {
	word-wrap: break-word;
	border-top: 1px solid gray;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	overflow-y: auto;
	padding-top: 3px;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 10px;
}

#introScreen {
	width: 800px;
	height: 200px;
	position: absolute;
	margin-left: -400px;
	margin-right: 400px;
	margin-top: -100px;
	margin-bottom: 100px;
	top: 50%;
	left: 50%;
}

.shown {
	display: block;
}

.hidden {
	display: none;
}
