body {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.selectable {
	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;
}

.toprow {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.top {
	width: 25%;
}

.score {
	font-size: 40px;
	text-align: center;
}

.red {
	color: red;
}

.blue {
	color: blue;
}

.gameId {
	margin-top: 50px;
	text-align: center;
	font-size: 30px;
}

.gameCanvas {
	position: absolute;
	left: 50%;
}

.shown {
	display: block;
}

.hidden {
	display: none;
}
